<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- DOM es maqueta que contiene las etiquetas de un documento(html) y me permite controlorarlas con JS 
        siempre cada etiqueta que quiero controlar debe llevar un "id"
        1.se tiene que poner un id(identificador)-->
    <h1 id="titulo">Holaaaa</h1>
    
    <img id ="foto" src="https://firebasestorage.googleapis.com/v0/b/tiendasuramc.appspot.com/o/perfume55.webp?alt=media&token=2e4c4883-f44a-472a-b760-747dc84f58c0" alt="...">

    <script src="../controllers/aprendiendoDom.js"></script>
</body>
</html>